// Colors Scheme
$fl-color-primary: #FFF;
$fl-color-secondary: #0C0910;
$fl-isabelline: #ECECEC;
$fl-granite-gray: #646266;
$fl-light-gray: #D1D1D1;
$fl-quick-silver: #A6A5A8;
//typography
//Font Family
$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;
// Font Weight
$regular: 400;
$bold: 700;
// Font Sizes
$fl-xxx-large: 50px;
$fl-xx-large: 30px;
$fl-x-large: 20px;
$fl-large: 18px;
$fl-medium: 16px;
$fl-small: 14px;
$fl-x-small: 12px;



