//Manifiesto
//bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
// Base
@import 'base/reset';
@import 'base/typography';
@import 'base/base';
// Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/picture';
@import 'layout/main-section';
@import 'layout/footer';

// Components
@import 'components/navbar';
@import 'components/buttons';
@import 'components/inputs';
// Pages
// Theme