.fl-btn{
    text-decoration: none !important;
    padding: 5px 20px ;
    font-family: $raleway;
    font-weight: $bold;
    font-size: 18px;
    color: #0C0910;
    background-color: #fff;
    border: 3px solid #A6A5A8;
  }
  .fl-btn:hover{
    color: #A6A5A8;
  }