.footer {
    grid-area: footer;
    background-color: $fl-color-secondary;
    padding: 40px 50px;
    position: relative;
        &__title   {
            color: $fl-color-primary;
            font-family: $old-standard;
            font-weight: $bold;
            font-size: $fl-xx-large;
        }
        &__subtitle {
            color: $fl-color-primary;
            font-family: $old-standard;
            font-weight: $regular;
            font-size:$fl-x-large;
        }
        &__text {
            background-color: $fl-color-primary;
            color: $fl-color-secondary;
            font-family: $old-standard;
            font-weight: $bold;
            font-size: $fl-xx-large;
            text-decoration: none;
            padding:5px;
            width: 20rem;
            transform: rotate(90deg);
            text-align: center;
            position: absolute;
            transform-origin: left top 0;
            top: 20px;
            left:47.6rem;
        }
    }