body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: 60px 1fr 1fr 200px / 100%;
    grid-template-areas: "header" "picture" "main" "footer";
}

/*
.header {
grid-area: header;
box-sizing: border-box;   
background-color: $fl-color-primary;
height:80px;
position: fixed;
top: 0;
left: 0;

}
.nav    {
    display: flex;
    justify-content: space-between;
    &__logo {
        font-size:30px;
        padding: 0 40px
        
    }
}

*/

.picture {
grid-area: picture;
    &__img{
        width: 100%;
    }
}

.main {
grid-area: main;
padding: 8%;
text-align: left;
    &__title    {
        font-family: $old-standard;
        font-weight: $bold;
        color: $fl-color-secondary;
        
    }
    &__text {
        font-family: $raleway;
        font-weight: $regular;
        color: $fl-quick-silver;
        line-height: 30px;
        padding: 10px 0;
    }

}

.footer {
grid-area: footer;
background-color: $fl-color-secondary;
padding: 40px 50px;
    &__title   {
        color: $fl-color-primary;
        font-family: $old-standard;
        font-weight: $bold;
        font-size: $fl-xx-large;
    }
    &__subtitle {
        color: $fl-color-primary;
        font-family: $old-standard;
        font-weight: $regular;
        font-size:$fl-x-large;
    }
}