.navbar {
    grid-area: navbar;
    
}
.navbar-brand {
    font-family: $old-standard;
    color: $fl-color-primary !important;
    background-color: $fl-color-secondary;
    padding: 15px;
}
.nav-link {
    color: $fl-color-secondary !important;
    font-family: $raleway;
    font-weight: $bold;
}



